<div class="about">
    <div class="about-items">
      <h1 class="item">ABOUT COMPONENT</h1>
      <div class="mb-5 d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-star"></i>

        <div class="icon line position-relative">

        </div>
    </div>

      <div class="row">
         <div class="col-md-6">
             <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
         </div>
         <div class="col-md-6">
             <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
         </div>
      </div>
    </div>
 </div>