<div class="container py-5 mt-5">
  <h1 class="h1 text-center mt-5">CONTACT SECTION</h1>
<div class="mb-3 d-flex align-items-center justify-content-center">
  <i class="icon fa-solid fa-star"></i>

  <div class="line position-relative">

  </div>
</div>
<form _ngcontent-ybx-c16="" novalidate="" action="" class="user w-50 p-3 mb-4  mx-auto ng-pristine ng-valid">

  <label _ngcontent-ybx-c16="" for="userName" class="top-0 mb-2 "></label>

  <input _ngcontent-ybx-c16="" id="userName" type="text" placeholder="userName" name="userName"
    class="form-control border-0 border-bottom py-3 ng-pristine ng-valid ng-touched"/>
    
  <label _ngcontent-ybx-c16="" for="userAge" class=" top-0 "></label>

  <input _ngcontent-ybx-c16=""  id="userAge" type="text"  placeholder="userAge"  name="userName"
    class="form-control border-0 border-bottom py-3 ng-pristine ng-valid ng-touched"/>

    <label _ngcontent-ybx-c16=""  for="userEmail"  class=" top-0"></label>
    
    <input _ngcontent-ybx-c16="" id="userEmail"  type="text" placeholder="userEmail" name="userName"
    class="form-control border-0 border-bottom py-3 ng-pristine ng-valid ng-touched"/>
    
    <label _ngcontent-ybx-c16="" for="userPassword"  class="top-0 __top"></label>
  
  
 <input  _ngcontent-ybx-c16="" id="userPassword"  type="password" placeholder="userPassword" name="userName"
    class="form-control border-0 border-bottom py-3 ng-pristine ng-valid ng-touched"/>
    
<button _ngcontent-ybx-c16=""  class="btn mt-4 text-white"  style="background-color: #1abc9c">send Message</button>
</form>
</div>


